body{
    background-color: #FFFCF5;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lora', serif;
    color: #223238;
    --cor-destaque:#be4d25;
}

.header{
    width: 100%;
    max-width: 1100px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    font-family: 'Anuphan', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
    padding: 4px;
    outline: none;
    position: relative;
}

.header__nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 2px; 
    background-color:#be4d25; 
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

.header__nav:focus::after {
    transform: scaleX(1);
}

.header__icons{
    display: flex;
}

.header__link{
    text-decoration: none;
    padding: 4px;
    position: relative;
    outline: none;
}

.header__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 2px; 
    background-color:#be4d25; 
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

.header__link:focus::after {
    transform: scaleX(1); 
}

.icone{
    width: 26px;
}

.main{
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
}

.perfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil__foto{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.perfil__nome{
    font-family: 'Anuphan', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: var(--cor-destaque);
    margin: 15px 0;
    text-align: center;
}

.perfil__descricao{
    font-size: 16px;
    font-weight: lighter;
    width: 100%;
    max-width: 450px;
    text-align: justify;
}

.section{
    padding: 8px;
    width: 100%;
    max-width: 450px;
    margin: 24px auto;
    box-sizing: border-box;
}

.section__titulo{
    font-family: 'Anuphan', sans-serif;
    font-weight: bold;
    color: var(--cor-destaque);
    font-size: 22px;
    margin: 15px 0;
}

.project{
    background-color: #F8E6BB;
    padding: 8px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.project__titulo{
    font-family: 'Anuphan', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-destaque);
    margin: 8px 0;
}
.project__descricao{
    font-size: 16px;
    font-weight: lighter;
    margin: 8px 0;
}

.project__link{
    color:#be4d25;
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px;
    outline: none;
    position: relative;
}

.project__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color:#be4d25; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.project__link:focus::after {
    transform: scaleX(1);
}

.footer{
    width: 100%;
    height: 40px;
    background-color: var(--cor-destaque);;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.footer__text{
    font-size: 14px;
    font-weight: lighter;
    color: #F8E6BB;
    margin: 8px 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background-color: #F5D5AB;
}

::-webkit-scrollbar-thumb {
    background-color:#be4d25;
    border-radius: 10px;
    opacity: 50%;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color:#c46949;
}